@font-face{
    font-family: praktika-light;
    src: url(fonts/Praktika-Light.otf);
}

*{
    font-family: praktika-light;
}

/* --------------------------------------- */

#navbar{
    background-color: #0E0E0E;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 999
}

#navbar a{
    color: white;
    background-color: #00000000;
    font-size: 36px;
    text-decoration: none;
    z-index: 999;
    transition: all .3s linear;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #ffffff;
    text-shadow:0px 0px 50px #ffffff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.3s ease-in;
} 

/* --------------------------------------- */

.dropbtn {
    cursor: pointer;
    background-color: #0E0E0E; 
    color: white;
    font-size: 36px;
    border: none;
    position: relative;
    z-index: 999;
    transition: all .3s linear;
}

.dropbtn:hover{
    color: #ffffff;
    text-shadow:0px 0px 50px #ffffff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.3s ease-in;
} 

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 999
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100%;
    z-index: 999
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    z-index: 1;
    transition: all .3s linear;
}

.dropdown-content a:hover {
    color: #ffffff;
    text-shadow:0px 0px 50px #ffffff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.3s ease-in;
}

.dropdown:hover .dropdown-content {
    display: block;
    padding-left: 6.5px;
}

/* --------------------------------------- */

button{
    background-color: rgba(0, 0, 0, 0) ;
}

button, img {
    padding: 0;
    font-size: 0;
    border: none;
}

/* --------------------------------------- */

body {
    background-image: url('images/background/background.png');
    color: white;
    margin: 0%;
}

/* --------------------------------------- */

.content{
    color: white;
    width:100%;
    padding:20px;
    margin-top:20px;
    margin-bottom:20px;
    background-color: #0E0E0E;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    display: block;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    transition: all .3s linear;
}

.content_t{
    color: white;
    width:100%;
    padding:20px;
    padding-left:20%;
    padding-right:20%;
    box-sizing: border-box;
    background-color: rgba(14, 14, 14, 0.38);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    display: block;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    transition: all .3s linear;
}

.content2{
    color: white;
    width:100%;
    padding:100px;
    margin-top:20px;
    margin-bottom:20px;
    background-color: #0E0E0E;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    flex-direction: row;
    justify-content: space-evenly;
    transition: all .3s linear;
}

.panel_list{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    display: block;
    justify-content: space-evenly;
}

.img_n {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

/* --------------------------------------- */

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/* --------------------------------------- */

.sidebar {
    position: fixed;
    top: 30%;
    width: 170px;
    margin-top: 50px;
    transition: all 0.3s linear;
    z-index: 4;
    flex-direction: row;
}

.sidebar li{
    height: 60px;
    position:relative;
    list-style: none;
}

.sidebar li a{
    color: white;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    padding-left:25%;
    transition: all .3s linear;
    text-decoration: none;
}

.sidebar li:nth-child(1) a{
    background: #00000000;
}
.sidebar li:nth-child(2) a{
    background: #00000000;
}
.sidebar li:nth-child(3) a{
    background: #00000000;
}
.sidebar li:nth-child(4) a{
    background: #00000000;
}
.sidebar li:nth-child(5) a{
    background: #00000000;
}
.sidebar li:nth-child(6) a{
    background: #00000000;
}

.sidebar li a i{
    position:absolute;
    top: 17px;
    left: 20px;
    font-size: 27px;
}

.sidebar ul li a span{
    display: none;
    font-weight: bold;
    letter-spacing: 1px;
}

.sidebar li a:hover {
    z-index:1;
    width: 200px;
    color: #ffffff;
    text-shadow:0px 0px 50px #ffffff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.3s ease-in;;
}

ul li:hover a span{
    padding-left: 30%;
    display: block;
}

/* --------------------------------------- */

#to_top{
    height: 100px;
    border: 5px;
    margin-top:40px;
    display: flex;
    justify-content: right;
    align-items:center;
}

/* --------------------------------------- */

footer{
    /* background-image: url('images/footer/footer_background.png'); */
    background-color: #000000;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* --------------------------------------- */

#mobile_nav{
    display:none;
}

/* --------------------------------------- */

@media (orientation: portrait) {

    #navbar{
        display:none;
    }
    #mobile_nav{
        background-color: #0E0E0E;
        width: 100%;
        float: left;
        display: flex;
        color: #f2f2f2;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    #mobile_dropbtn{
    cursor: pointer;
    background-color: #0E0E0E; 
    color: white;
    font-size: 17px;
    border: none;
    position: relative;
    z-index: 999;
    transition: all .3s linear;
    }

    #mobile_dropbtn:hover{
        color: #ffffff;
        text-shadow:0px 0px 50px #ffffff;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.3s ease-in;
    } 

    #mobile_dropdown{
        position: relative;
        color: #f2f2f2;
        /* text-align: center; */
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    #mobile_dropdown-content{
        display: none;
        position: absolute;
        min-width: 100%;
        z-index: 999
    }

    #mobile_dropdown-content a {
        text-decoration: none;
        display: flex;
        z-index: 1;
        transition: all .3s linear;
    }

    #mobile_dropdown-content a:hover {
        color: #ffffff;
        text-shadow:0px 0px 50px #ffffff;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.3s ease-in;
    }

    #mobile_dropdown:hover #mobile_dropdown-content {
        display: block;
        padding-left: 6.5px;
}

}
/* --------------------------------------- */