@font-face{
    font-family: praktika-light;
    src: url(fonts/Praktika-Light.otf);
}

*{
    font-family: praktika-light;
}

#navbar{
    /* overflow: hidden; */
    background-color: #0E0E0E;
    position: fixed;
    width: 105%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 999
}

#navbar a{
    color: white;
    font-size: 36px;
    text-decoration: none;
    z-index: 999
}

#navbar a:hover{
    color: #1CEDFB;
} 

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #1CEDFB;
} 

/* Dropdown Button */
.dropbtn {
    cursor: pointer;
    background-color: #0E0E0E; 
    color: white;
    /* padding: 16px; */
    font-size: 36px;
    border: none;
    position: relative;
    z-index: 999
}

.dropbtn:hover{
    color: #1CEDFB;
} 

  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 999
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100%;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 999
}

/* Links inside the dropdown */
.dropdown-content a {
    /* color: black; */
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
    z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: #1CEDFB;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


body {
    background-image: url('images/background/background.png');
    /* background-color: #000000; */
    color: white;
    margin: 0%;
}

.content{
    color: white;
    width:100%;
    padding:20px;
    margin-top:20px;
    margin-bottom:20px;
    background-color: #0E0E0E;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    display: block;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.content_t{
    color: white;
    width:100%;
    padding:20px;
    margin-top:20px;
    margin-bottom:20px;
    background-color: rgba(14, 14, 14, 0.38);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    display: block;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.content2{
    color: white;
    width:100%;
    padding:100px;
    margin-top:20px;
    margin-bottom:20px;
    /* margin-left: 20px;
    margin-right: 20px; */
    background-color: #0E0E0E;
    margin-left: auto;
    margin-right: auto;
    /* display: flex;
    display: block; */
    display: inline-block;
    flex-direction: row;
    justify-content: space-evenly;
    /*align-items: center;
    text-align: center; */
}

.panel_list{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    display: block;
    justify-content: space-evenly;
}

.img_n {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

/* Style the sidebar - fixed full height */
.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    float: right;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0);
    overflow-x: hidden;
    padding-top: 16px; 
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    text-align: right;
    pointer-events: none;
    opacity: 1;
    -webkit-transition: .3s opacity;
    transition: .3s opacity;
    cursor: pointer;
}

/* --------------------------------------- */

/* .sidebar{
    position: fixed;
    width: 70px;
    margin-top: 50px;
    transition: all 0.3s linear;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,.4);
} */

.sidebar li{
    height: 60px;
    position:relative;
    list-style: none;
    
}

.sidebar li a{
    color: white;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    padding-left:25%;
    /* border-bottom: 1px solid rgba(0,0,0,.4); */
    transition: all .3s linear;
}

.sidebar li:nth-child(1) a{
    background: #00000000;
}
.sidebar li:nth-child(2) a{
    background: #00000000;
}
.sidebar li:nth-child(3) a{
    background: #00000000;
}
.sidebar li:nth-child(4) a{
    background: #00000000;
}
.sidebar li:nth-child(5) a{
    background: #00000000;
}
.sidebar li:nth-child(6) a{
    background: #00000000;
}

.sidebar li a i{
    position:absolute;
    top: 17px;
    left: 20px;
    font-size: 27px;
}

.sidebar ul li a span{
    display: none;
    font-weight: bold;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
}

.sidebar li a:hover {
    z-index:1;
    width: 200px;
    color: #1CEDFB;
}

ul li:hover a span{
    padding-left: 30%;
    display: block;
}

/* --------------------------------------- */


/* Style sidebar links */
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
    color: #1CEDFB;
}

/* Style the main content */
.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

#to_top{
    height: 100px;
    border: 5px;
    margin-top:40px;
    display: flex;
    justify-content: right;
    align-items:center;
}

footer{
    /* background-image: url('images/footer/footer_background.png'); */
    background-color: #000000;
    width: 105%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* @media (orientation: portrait) {
    #navbar a{
        color: rgb(255, 0, 0);
        font-size: 36px;
        text-decoration: none;
    }
    
    #navbar a:hover{
        color: #ff00009c;
    } 

    .title {
        color: yellow;
        background-color: black;
        text-align: center;
        padding: 5%;
    }
    .mobile {
        display: inline-block
    }
}

@media (orientation: landscape) {
    #navbar a{
        color: rgb(255, 238, 0);
        text-decoration: none;
    }
    
    #navbar a:hover{
        color: rgba(255, 238, 0, 0.548);
    } 
    .subtitle {
        color: green;
        background-color: orange;
        text-align: center;
        padding: 5%;
    }
    .desktop {
        display: inline-block
    }
} */