
{% extends 'base.html' %}       
{% block content %}

<body>

    <div class="content_t">
        
    <h1>Star Wars Galaxies Leviathan</h1> 
        
    <br><br>

    <p> Return to the era of the Old Republic and join with players across the world.
    Choose your class and embark on a journey that will take you across the galaxy, and revisit memorable locations from the ciritically acclaimed Star Wars Knights of the Old Republic series, such as Dantooine, Korriban, Tatooine, and more.<br><br>
    
    Five years have passed since The Exile left for the Unknown Regions in search of Revan, yet those she travelled with remain behind, and  the galaxy is still in turmoil.<br><br>

    In a time when the Jedi have been nearly exterminated by the Sith, the Republic labours to keep order. Will you aid in the Republic's recovery? Or seek to further destabilize the galaxy as an agent of chaos?<br><br>
    </p>
    </div>

</body>

{% endblock %}