{% extends 'base.html' %}       
{% block content %}

    <div class="content2">
    <h2>I - Installing Star Wars Galaxies</h2><br>

    <p class="getting_started">Skip to Part II if you already have Star Wars Galaxies installed.<br><br>

    You will need a copy of Star Wars Galaxies. You DO NOT need to have any of the expansions, and
    not having the expansions will not affect your game-play at all. The game can be purchased from <a href="https://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Daps&amp;field-keywords=Star+Wars+Galaxies">Amazon</a> and <a href="http://www.ebay.com/sch/i.html?_from=R40&amp;_trksid=p2050601.m570.l1313.TR6.TRC2.A0.H0.XStar+Wars+Galaxies.TRS0&amp;_nkw=Star+Wars+Galaxies&amp;_sacat=0">Ebay</a> for a range of different prices. You can use anything that contains Star Wars Galaxies: An Empire Divided. Had you previously purchased the game through <a href="https://store.steampowered.com/">Steam</a>, please continue reading on how to re-download it if you uninstalled it. If not, then you can skip the Steam section below.

    Skip to Part II if you already have Star Wars Galaxies installed.
    
    You will need a copy of Star Wars Galaxies. You DO NOT need to have any of the expansions, and not having the expansions will not affect your game-play at all. The game can be purchased from Amazon and Ebay for a range of different prices. You can use anything that contains Star Wars Galaxies: An Empire Divided. Had you previously purchased the game through Steam, please continue reading on how to re-download it if you uninstalled it. If not, then you can skip the Steam section below.
    
    <h3>Steam</h3>

    <ol>
        <li>Click on Library and select ALL GAMES.</li>
        <li>Look for the greyed out “Star Wars Galaxies” and click on it.</li>
        <li>Click on install.</li>
        <li>In the new window that comes up, take note of the install location for the game (the text
            inside the dropdown menu). In my case, it will be installed under C:\Program Files
            (x86)\Steam. Once you have done that, press Next.</li>
        <li>A window will now ask if you want to have a shortcut placed on your desktop. There is no
            point for this unless you plan on trying to connect to SoE's servers, which you can't do
            anymore.</li>
        <li>Now the game will start installing. Ignore the next window that comes up with the broken
            link and press Finish.</li>
        <li>Once it has finished installing, you can continue on to Part II.</li>
    </ol><br>

    <h3>Non-Steam</h3>

    <ol>
        <li>Insert the game disc inside the CD Drive.</li>
        <li>Click Next on the first welcome screen.</li>
        <li>Click Next again on the welcome screen.</li>
        <li>Read the License Agreement fully and select I Agree.</li>
        <li>On the next screen, take note of the Destination Folder. You will need to know this to install SWG Legends.</li>
        <li>Select Next after that.</li>
        <li>Let the game install, inserting the discs it asks for when necessary. Read all the fine print inside your old game manual while you wait and admire the screenshots.</li>
        <li>Once it has finished installing, you can continue on to the next part.</li>
    </ol><br>

    <h2>II - Updating SWG Leviathan</h2><br>

    Download the launcher files here:<br><br>
    
    Zip Method: SWGLevaiathanLauncher.zip.<br><br>
    
    Open the zip file linked above and extract the contents of it to the folder where SWG is installed (the default location is C:\Program Files (x86)\StarWarsGalaxies.) From that folder right click the SWGLevaiathanLauncher.exe file and run it as Administrator. Login to the launcher using your forum credentials. Note: Do not use the same folder for multiple emulators/projects. We have our own patches and files.<br><br>
    
    Follow the guide here for using our game launcher.<br><br>
    
    If you don't already have an account on our forums, make one here. This account information will be used to log into the game, as well.<br><br>
    
    You'll see it scanning your game directory and checking for updates. If an update is required, you will need to press the “Update” button to download the needed patches before you can play. Make sure SWG isn't running when you update.<br><br>
    
    Once you are fully patched, you can press “Play” to launch SWG.<br><br>
    
    If you have any trouble getting connected, speak to someone from CSR Staff in Discord or submit a ticket with Account Support Services.<br><br>
    </p>

    </div>

{% endblock %}
